#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.text-orange {
  color: goldenrod;
}

.btn-primary {
  background-color: goldenrod !important;
  border: none !important;
}

.underline {
  border-bottom: black solid 2px;
  height: 0;
  margin-bottom: 2rem;
}

.sorting-option {
  cursor: pointer;
}

.sorting-option:hover {
  color: goldenrod;
}

.sorting-option:active {
  font-weight: bold;
}
